<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <script type="text/javascript" th:src="@{/js/functions.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<h1>Add student:</h1>
<form th:object="${student}" id="addStudentForm">
    <table>
        <tr>
            <td><label>Name:</label></td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>

        <tr>
            <td><label>E-mail:</label></td>
            <td><input type="email" th:field="*{email}"></td>
        </tr>

        <tr>
            <td><label>Supervisor:</label></td>
            <td>
                <select th:field="${student.supervisor}">
                    <option
                        th:each="supervisor, stat : ${supervisors}"
                        th:value="${supervisor.id}"
                        th:text="Teacher + ' ' + ${stat.index + 1}"
                    ></option>
                </select>
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-success">Add student</button>
</form>

<!-- Who needs CSS? -->
<br>
<br>
<!-- Who needs CSS? -->

<h1>List of students:</h1>
<table id="studentsTable" class="table">
    <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Supervisor</th>
    <th></th>
    <th></th>
    </thead>
    <tr th:each="student : ${students}" th:id="${student.id}">
        <form th:id="Update + ${student.id}">
            <td>
                <input type="text" th:value="${student.name}" th:id="Name + ${student.id}">
            </td>

            <td>
                <input type="email" th:value="${student.email}" th:id="Email + ${student.id}">
            </td>

            <td>
                <select th:id="Supervisor + ${student.id}">
                    <option
                        th:each="supervisor: ${supervisors}"
                        th:value="${supervisor.id}"
                        th:text="Teacher + ' ' + ${supervisor.id}"
                        th:selected="${student.supervisor.id == supervisor.id}"
                        >
                    </option>
                </select>
            </td>

            <td>
                <button th:form="Update + ${student.id}" type="submit" class="btn btn-primary">Update</button>
            </td>
        </form>

        <td>
            <form th:id="Delete + ${student.id}">
                <button th:form="Delete + ${student.id}" type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
</table>

<form id="getAll">
    <button type="submit" class="btn btn-primary">Refresh</button>
</form>

<script type="text/javascript">
    checkjQuery();
    preventAddFormFromSending($("#addStudentForm"));

    let id = '';
    $(function() {
        $(document).on('submit', 'form', function(event){
            event.preventDefault();
            let form = $(this);
            let id = form.attr('id').toString(); // Id of from

            let studentId = id.substring(6); // Update and Delete are both 6 characters long - yay

            // Called from Delete button
            if(~id.indexOf("Delete")){
                deleteStudent(studentId);
            }

            // Called from Update button
            else if(~id.indexOf("Update")){
                let name = $("#Name" + studentId).val();
                let email = $("#Email" + studentId).val()
                let supervisorId = $("#Supervisor" + studentId).val()
                updateStudent(studentId, name, email, supervisorId);
                //console.log("Update called with: [" + name + "] [" + email + "] [" + supervisorId + "]");

            }

            // Called from Refresh button
            else if(~id.indexOf("getAll")){
                getAll();
            }
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>